{
	"db": {
		"host": "server.com",
		"user": "username",
		"password": "password",
		"database": "timetracker",
		"sessionTable": "sessions"
	},
	"session": {
		"storage": "redis",
		"expire": 86400
	},
	"redis": {
		"host": "localhost",
		"port": 6379,
		"collection": "sessions"
	}
}
