timetracker.log
timetracker.test.log
timetracker*.log
doc/
**/npm-debug.log
**/node_modules/
# config files for frontend and REST server are created 
# by the build process depending on the
# target environment, no need to be checked in:
app/config/config.json
