<!-- show form for new record if the button "new" is clicked -->
<button type="button" ng-click="editNewRecord()" ng-show="loggedIn">New</button>

<section ng-controller="RecordDetailCtrl" ng-show="data.editMode==1">
	<div ng-include="'views/partials/record_form.html'"></div>
</section>

<div ng-show="data.success" class="data.success">{{data.success}}</div>
<div ng-show="data.error" class="data.error">{{data.error}}</div>

<section>
	<h1>Work Records</h1>

	<ul class="pager">
	  <li ng-class="{disabled: data.page <= 0}"><a href="" ng-click="turnPage(-1)">Previous</a></li>
	  <li><a href="" ng-click="turnPage(+1)">Next</a></li>
	</ul>

	Current page: {{data.page}}

	<table>
		<tr>
			<th>ID</th>
			<th>Date</th>
			<th>Start</th>
			<th>End</th>
			<th>Project</th>
			<th>Description</th>
		</tr>
		<tr ng-repeat-start="record in (filteredRecords = data.records)" 
				ng-dblclick="loggedIn ? editRecord(record) : undefined" 
				ng-class="{editing: record.recordId == data.onerecord.recordId, strike: record.toBeDeleted}" 
				ng-class-even="'even'"
				ng-class-odd="'odd'"
				ng-cloak
				ng-animate="'animate'">
			<td>{{record.recordId}}</td>
			<td>{{record.starttime | date:'EEE, yyyy-MM-dd'}}</td>
			<td>{{record.starttime | date:'HH:mm'}}</td>
			<td>{{record.endtime | date:'HH:mm'}}</td>
			<td>{{record.projectAbbreviation}}</td>
			<td>{{record.description}}</td>
			<td ng-show="loggedIn"><button type="button" ng-click="remove(record)">Delete</button></td>
		</tr>
		<tr ng-repeat-end ng-show="data.onerecord.recordId == record.recordId">
			<td colspan="7">
				<div ng-include="'views/partials/record_form.html'"></div>
			</td>
		</tr>
		<tr ng-hide="filteredRecords.length">
			<td colspan="4" class="norows">no records found</td>
		</tr>
	</table>

</section>
